/* Define CSS variables */
:root {
  --hero-section-slider-bottom-right-redious:20%;
  --hero-section-bg-image: url('./assets/couple.jpg');
  --nav-bar-text-decoration-color:rgb(43, 62, 55);
  --nav-bar-email-gradient-color:linear-gradient(45deg, #0d0e0d, #b9bbc4);
  --hero-box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   --text-image-slider:rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


/* hero section css */
.background-image {
    box-shadow:var(--hero-box-shadow);
    background-image:var(--hero-section-bg-image); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    border-bottom-right-radius: var(--hero-section-slider-bottom-right-redious);
  }
  /* gradient text email */
  .gradient-text{
    background: var(--nav-bar-email-gradient-color); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
  }
  /* nav text menu hover effect */
  .custon_nav_css .custom_link{
    transition: all 0.3s ease;
    text-decoration-color:var(--nav-bar-text-decoration-color);
  }
  .custon_nav_css .custom_link:hover {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color:var(--nav-bar-text-decoration-color);
    text-underline-offset: 12px;
    text-decoration-thickness: 5px;
}
/* hero button style */
.btn-hover-effect{
  font-weight: bold !important;
  color: whitesmoke !important;
}
/* hero btn hover effect */
.btn-hover-effect:hover{
  background-color: black !important;
}

/* image gallery section css */
  .grow-on-hover {
    transition: transform 0.3s ease;
}

.grow-on-hover:hover {
    transform: scale(1.1);
    border: 3px solid black;
}

/* Testmonial Slider Css start  */
.image-container {
  background-image: url('./assets/couple.jpg'); 
  background-size: cover; 
  background-position: center;
 box-shadow: var(--text-image-slider);
}
.image-container img {
  background-size: cover; 
  background-position: center;
  width: 100%;; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  height: 50vh;
}
.testemonial-heading{
  
}

/* Media query for small to medium devices */
@media (min-width: 320px) and (max-width: 405px){
  #changeImageBtn,
  #changeImageBtn2 {
    margin-top: -395px; 
    margin-right: -5px;
    margin-left: 5px; 
    font-size: 10px; /* Adjust font size for small devices */
  }
 
}
@media (min-width: 340px) and (max-width: 525px) {
  #changeImageBtn,
  #changeImageBtn2 {
    
      margin-top: -170px; 
      margin-right: 1rem; 
      margin-left: 1rem; 
  }
}
@media (min-width: 517px) and (max-width: 767px) {
  #changeImageBtn,
  #changeImageBtn2 {
      margin-top: -115px; 
      margin-right: 1rem; 
      margin-left: 3rem; 
  }
 
}

/* Media query for large devices */
@media (min-width: 770px) and (max-width: 1000px){
  #changeImageBtn,
  #changeImageBtn2 {
    margin-top: -15px; 
      margin-right: 5rem; /* Increase the gap between buttons for large devices */
  }

  #changeImageBtn {
      margin-left: 85px; /* Adjust the left margin for large devices */
  }
  
}

/* Media query for extra-large devices */
@media (min-width: 992px) {
  #changeImageBtn,
  #changeImageBtn2 {
    margin-top: 15px; 
      margin-right: 5rem; /* Increase the gap between buttons for extra-large devices */
  }
 #changeImageBtn {
      margin-left: 195px; /* Adjust the left margin for extra-large devices */
  }
  .large-nav-text{
    font-size: 1.2rem!important;
    font-family: cursive;
  }
  .hero-heading{
    font-weight: bold!important;
  }
}
.right-image ,.left-image{
  width: 20px;
  height: 20px;
}

/* image and text section */
.background-image-with-text{
  background-image: url('./assets/couple.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 90vh; 
}
.spacing-text-image{
  padding-top: 12rem;
}

/* slider images css */
#myCarousel {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
      transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
      transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }
}

/* Quotes text section  */
.quotes_text{
  font-family: cursive;
  font-size: 1.3rem;

}
.icon-widths{
  width: 3rem;
  height: 3rem;
}